.shopping_cart_container {
  max-width: 1040px;
}
.shopping_cart_container .order_title {
  text-align: center;
  margin-top: 68px;
  margin-bottom: 68px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #121212;
}
.shopping_cart_container .cart_inner_box {
  display: flex;
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 12px;
  margin-bottom: 68px;
  box-shadow: 0px 2px 6px 2px rgba(184, 184, 184, 0.25);
}
.shopping_cart_container .cart_inner_box .box1 {
  width: 60%;
  display: flex;
}
.shopping_cart_container .cart_inner_box .box1 .cart_image {
  width: 266px;
  height: 193px;
}
.shopping_cart_container .cart_inner_box .box1 .cart_title {
  padding: 24px 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #121212;
}
.shopping_cart_container .cart_inner_box .box2 {
  border: 1px solid #BEBEBE;
  width: 15%;
  border-bottom: none;
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shopping_cart_container .cart_inner_box .box2 .counter {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #121212;
  margin-left: 8px;
  margin-right: 8px;
}
.shopping_cart_container .cart_inner_box .box2 .plus {
  cursor: pointer;
}
.shopping_cart_container .cart_inner_box .box2 .minus {
  cursor: pointer;
}
.shopping_cart_container .cart_inner_box .box3 {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shopping_cart_container .cart_inner_box .box3 .cart_price {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #121212;
}
.shopping_cart_container .cart_inner_box .box3 .cart_remove_btn {
  margin-left: 37px;
  cursor: pointer;
}

.cart_form_container {
  max-width: 1040px;
}
.cart_form_container .form_title {
  text-align: center;
  margin-top: 68px;
  margin-bottom: 68px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #121212;
}
.cart_form_container .row {
  padding: 107px 68px;
  background-color: #F6F6F6;
  border-radius: 12px;
}
.cart_form_container .row .col input {
  max-width: 394px;
  height: 48px;
  border: 1px solid #BEBEBE;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #121212;
}
.cart_form_container .row .col label {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #BEBEBE;
}
.cart_form_container .order_box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart_form_container .order_box .order_btn {
  margin-top: 68px;
  margin-bottom: 238px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  width: 248px;
  height: 68px;
  background-color: #FB6F20;
  border-radius: 8px;
  border: none;
}

@media (max-width: 800px) {
  .shopping_cart_container {
    padding: 0;
  }
  .shopping_cart_container .cart_inner_box {
    display: block;
  }
  .shopping_cart_container .cart_inner_box .box2 {
    width: 49%;
  }
  .shopping_cart_container .cart_inner_box .box3 {
    width: auto;
    margin-left: 206px;
  }
}/*# sourceMappingURL=shoping-cart.component.css.map */